.slick-default{
	.slick-dots{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-content: center;
		align-items: center;
		margin: 30px 0 -10px 0;
		position: relative;
		li{
			padding: 10px;
			> *{
				width: 10px;
				max-width: 10px;
				height: 10px;
				display: block;
				background-color:#eaedea;
				border-radius: 50%;
				font-size: 0;
				line-height: 0;
				box-shadow: none;
				outline: none;
				border: none;
				padding: 0;
				transition: background-color .2s;
			}
			&:not(.slick-active){
				cursor:pointer;
				> *{
					cursor:pointer;
				}
			}
			&.slick-active,
			&:hover{
				> *{
					background-color:$default_color;
				}
			}
		}
	}
	&.slick-dots-left{
		.slick-dots{
			justify-content: flex-start;
		}
	}
	.slick-arrow{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 5;
		width: 69px;
		height: 69px;
		background-color: #ffffff;
		border-radius: 50%;
		font-size: 0;
		line-height: 0;
		border: 0;
		outline: none;
		transition: background-color .2s;
		&:before{
			content: '\e912';
			font-family: $default_font_icon;
			font-size: 25px;
			line-height: 1;
			color: $default_color02;
			transition: color .2s;
		}
		&:hover{
			background-color: $default_color;
			&:before{
				color: #ffffff;
			}
		}
		@media (max-width: 1024px){
			display: none !important;
		}
	}
	.slick-prev{
		left: 19%;
		&:before{
			transform: rotate(180deg);
			position: absolute;
			top: 21px;
			left: 20px;
		}

	}
	.slick-next{
		right: 19%;
	}
	@include media-breakpoint-down(md) {
		.slick-dots{
			margin: 13px 0 -10px 0;
			li{
				padding: 6px;
				> *{
					width: 6px;
					height: 6px;
				}
			}
		}
	}
	@media (max-width: 575px){
		.slick-dots{
			margin: 13px 0 -6px 0;
		}
	}
}
.slick-slider{
	.slick-slide{
		outline: none;
	}
}

.slick-arrow-align{
	margin-bottom: 50px;
	.slick-dots{
		position: absolute;
		bottom: -50px;
		width: 100%;
	}
}

.slick-default-inner{
	.slick-arrow{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 5;
		width: 69px;
		height: 69px;
		background-color: #ffffff;
		border-radius: 50%;
		font-size: 0;
		line-height: 0;
		border: 0;
		outline: none;
		transition: background-color .2s;
		&:before{
			content: '\e912';
			font-family: $default_font_icon;
			font-size: 25px;
			line-height: 1;
			color: $default_color02;
			transition: color .2s;
		}
		&:hover{
			background-color: $default_color;
			&:before{
				color: #ffffff;
			}
		}
		@media (max-width: 1024px){
			display: none !important;
		}
	}
	.slick-prev{
		left: 35px;
		&:before{
			transform: rotate(180deg);
			position: absolute;
			top: 21px;
			left: 20px;
		}

	}
	.slick-next{
		right: 35px;
	}
	.slick-dots{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-content: center;
		align-items: center;
		margin: 30px 0 -10px 0;
		position: absolute;
		bottom: 35px;
		z-index: 2;
		width: 100%;
		li{
			padding: 10px;
			> *{
				width: 10px;
				max-width: 10px;
				height: 10px;
				display: block;
				background-color:#eaedea;
				border-radius: 50%;
				font-size: 0;
				line-height: 0;
				box-shadow: none;
				outline: none;
				border: none;
				padding: 0;
				transition: background-color .2s;
			}
			&:not(.slick-active){
				cursor:pointer;
				> *{
					cursor:pointer;
				}
			}
			&.slick-active,
			&:hover{
				> *{
					background-color:$default_color;
				}
			}
		}
	}
	@include media-breakpoint-down(md) {
		.slick-dots{
			bottom: 25px;
			li{
				padding: 7px;
				> *{
					width: 6px;
					height: 6px;
				}
			}
		}
	}
	@include media-breakpoint-down(sm) {
		.slick-dots{
			bottom: 20px;
			li{
				padding: 5px;
			}
		}
	}
}