.tabs-default{
	.nav-tabs{
		margin-top: 8px;
		padding: 0;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		align-content: center;
		align-items: flex-start;
		margin-top: -15px;
		li{
			box-shadow: none;
			width: 33.33%;
			margin-top: 15px;
			a {
				background-color: #ffffff;
				transition: all .2s linear;
				padding: 29px 19px;
				font-size: 20px;
				line-height: 30px;
				display: block;
				text-align: center;
				box-shadow:0 19px 40px rgba(157,174,185,.0);
				font-family: $default_font2;
				font-weight: 600;
				color: $default_color02;
				&:hover{
					color: $default_color;
				}
				&.active{
					color: #ffffff;
					background: $gradient_color;
				}
				&:not(.active){
					box-shadow:0 19px 40px rgba(157,174,185,.15);
				}
			}
			&:not(:first-child){
				margin-left: 15px;
				width: calc(33.33% - 15px);
			}
		}
		&.nav-tabs__right{
			justify-content: flex-end;
		}
		&.nav-tabs__center{
			justify-content: center;
		}
	}
	.tab-content{
		padding: 60px 0 0 0;
		.tab-pane:not(.active){
			display: none
		}
	}
	@include media-breakpoint-down(md) {
		.nav-tabs{
			padding-left: 15px;
			padding-right: 15px;
			li{
				a{
					font-size: 16px;
					line-height: 26px;
					padding: 16px 23px;
				}
			}
		}
		.tab-content{
			padding: 42px 15px 0;
		}
	}
	@include media-breakpoint-down(sm) {
		.nav-tabs{
			flex-wrap: wrap;
			overflow: hidden;
			li{
				width: 100%;
				&:not(:first-child){
					margin-left: 0px;
					width: 100%;
				}
			}
		}
	}
}

.tt-ajax-tabs{
	@include media-breakpoint-down(sm) {
		height: inherit !important;
		box-shadow: 0px 19px 40px rgba(157, 174, 185, 0.1);
	}
}

/*
	tab-layout01
*/
.tab-layout01{
	margin-left: -15px;
	margin-right: -15px;
	.tab-layout01__title{
		font-size: 28px;
		line-height: 38px;
		font-family: $default_font2;
		color: $default_color02;
		font-weight: 600;
		margin: 0;
		padding: 0 0 19px 0;
		& + *{
			margin-top: 0;
		}
		@include media-breakpoint-down(md) {
			font-size: 24px;
			line-height: 30px;
		}
	}
}

.tt-align-img02{
	width: calc(100% - 21px);
	@include media-breakpoint-down(sm) {
		width: 100%;
		height: 275px;
		object-fit: cover;
	}
}