#tt-nav{
	position: relative;
	ul{
		li{
			&.is-hover{
				> a{
					color: $default_color;
				}
			}
		}
	}
	> ul{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-content: stretch;
		align-items: center;
		> li{
			display: inline-block;
			font-family: $default_font2;
			font-weight: 600;
			position: relative;
			> a{
				display: inline-block;
				font-size: 16px;
				line-height: 21px;
				color: $default_color02;
				padding: 28px 21px 28px;
				text-decoration: none;
				transition: color .2s linear;
				span{
					display: inline-block;
				}
				&:hover{
					color: $default_color;
				}
			}
			ul{
				position: absolute;
				z-index: 5;
				margin: 0;
				padding: 17px 0;
				top: 100%;
				left: 0;
				width: 210px;
				background: #fff;
				box-shadow: 0 19px 40px rgba(157,174,185,.15);
				transition: all .3s;
				opacity: 0;
				visibility: hidden;
				transform: translateY(20px);
				transition-property: all;
				transition-duration: .2s;
				transition-delay: 0s;
				li{
					margin: 0;
					padding: 0;
					text-align: left;
					a{
						font-size: 14px;
						line-height: 25px;
						display: block;
						color: #3e3e3e;
						font-family:$default_font2;
						padding: 2px 26px;
						transition: color .2s;
						font-weight: 400;
						&:hover{
							color: $default_color;
						}
					}
				}
			}
			&.active{
				color: $default_color;
			}
			&:hover{
				> ul{
					opacity: 1;
					visibility: visible;
					transform: translateY(0);
					transition-delay: .15s;
				}
			}
			&.subMenu{
				> a{
					&:after{
						content: "";
						display:inline-block;
						height: 4px;
						width: 4px;
						margin-left: 7px;
						top: -4px;
						position: relative;
						border-style: solid;
						border-color: $default_color02;
						border-width: 0px 1px 1px 0px;
						transform: rotate(45deg);
						transition: border-color 150ms ease-in-out;
					}
					&:hover{
						&:after{
							border-color: $default_color;
						}
					}
				}
			}
			ul li{
				position: relative;
				ul{
					transform: translateY(0);
					left: 100%;
				}
				&:hover{
					> ul{
						opacity: 1;
						visibility: visible;
						transition-delay: .15s;
						left: 100%;
						top: -17px;
					}
				}
			}
		}
		@media (max-width: 1500px){
			> li{
				> a{
					padding-left: 12px;
					padding-right: 12px;
				}
			}
		}
		@media (max-width: 1300px){
			> li{
				> a{
					padding-left: 10px;
					padding-right: 10px;
				}
			}
		}
	}
	@media (max-width: 1199px){
		display: none;
	}
}

