/*
	Theme variables
*/
/* font */
$default_font:								'Roboto', sans-serif;
$default_font2:								'Poppins', sans-serif;
$default_font_icon:							'fonts-icon';
/* default */
$default_bg_color:							#ffffff;
$default_text_color:						#7b7b7b;
$default_color:								#52b765;
$default_color02:							#323232;
$gradient_color:							linear-gradient(to left, #44ae6f, #54b963);


$link_color_base:							$default_color;
$speed:										0.2s;
$border:									#eaeaea;
$radius:									3px;



